<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="uk.ac.ox.it.microphone-levels" version="0.0.1">
    <name>Microphone Levels</name>
    <description>Resounding Microphone Levels Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, microphone, levels, ios</keywords>
    
    <js-module src="www/microphone_levels_plugin.js" name="MicrophoneLevels">
        <clobbers target="MicrophoneLevels" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MicrophoneLevels">
                <param name="ios-package" value="CDVMicrophoneLevels"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>to play the instrument</string>
        </config-file>
        <header-file src="src/ios/CDVMicrophoneLevels.h" />
        <source-file src="src/ios/CDVMicrophoneLevels.m" />
        <header-file src="src/ios/Novocaine.h" />
        <source-file src="src/ios/Novocaine.m" />
        <header-file src="src/ios/NVDSP.h" />
        <source-file src="src/ios/NVDSP.mm" />
        <header-file src="src/ios/NVHighShelvingFilter.h" />
        <source-file src="src/ios/NVHighShelvingFilter.m" />
        <header-file src="src/ios/NVLowShelvingFilter.h" />
        <source-file src="src/ios/NVLowShelvingFilter.m" />
        <framework src="Accelerate.framework" weak="true" />
        <framework src="AudioToolbox.framework" weak="true" />
    </platform>
    
</plugin>